.upload-card {
    margin: 16px;
    padding: 16px;
  
    .file-list {
      margin: 10px 0;
      font-size: 14px;
      color: #555;
    }
  
    mat-card-actions {
      margin-top: 12px;
    }
  }
  